<p><%= form.text_field :cost, :size => 10, :required => true %><%= calendar_for('time_entry_spent_on') %></p>
<p><%= form.text_field :ext_cost, :size => 10, :required => true %><%= calendar_for('time_entry_spent_on') %></p>